# EDS 217 Day 2 Notes
### 2023-09-06

## Interactive Session 1-1

<h4 style="border:1px; border-style:solid; border-color:black; padding: 0.5em;"> <span style="color:white"> Arithmetic Operators </span> </h4>

Just like a calculator, basic arithmetic can be done on number variables. Python uses the following symbols 

| Symbol | Task           |
| :----: | :---           |
|   +    | Addition       |
|   -    | Subtraction    |
|   *    | Multiplication |
|   /    | Division       |
|   %    | Modular        |
|  //    | Floor division |
|  **    | Power          |



### <div class="example"> ‚úèÔ∏è  Try it.
Practice these arithmetic operations by running the code in the cell below. Feel free to add more to test the operators. Use the <code>print()</code>  command to output your answers.
</div>

In [18]:
x = 1
y = 42
a = 1.0
b = 42.0
c = 23.782043

In [19]:
b / c

1.766038350868342

In [20]:
b // c

1.0

In [21]:
b % c

18.217957

In [22]:
b ** c

4.019614682991544e+38

In [23]:
f = b**c
print(f)

4.019614682991544e+38

In [24]:
5 + 2


d = a / b
type(d)

float

In [25]:
isinstance(12, int)

True

In [26]:
isinstance(12.0, int)

False

when you check multiple classes, if ANY are true, returns true

In [27]:
isinstance(12.0,(int, float))

True

split cell: enter, right click, split cell
or 
ctrl + shift + -

Notice that the order of operations applies.

<h4 style="border:1px; border-style:solid; border-color:purple; padding: 0.5em;"> <span style="color:white"> Boolean Operators </span> </h4>

Boolean operators evaluate a condition between two operands, returning `True` if the condition is met and `False` otherwise. `True` and `False` are called **booleans**.

| Symbol | Task                     |
| :----: | :----------------------  |
|   ==   | Equals                   |
|  !=    | Does not equal           |
|   <    | Less than                |
|   >    | Greater than             |
|   <=   | Less than or equal to    |
|   >=   | Greater than or equal to |

<div class="run">
    ‚ñ∂Ô∏è Run the cell below.
</div>

In [28]:
print( b >= a )
print( 87 < -2 )
print( c != 0 )
print( y == x)

True
False
True
False

<h4 style="border:1px; border-style:solid; border-color:black; padding: 0.5em;"> <span style="color:white"> Built-in functions </span> </h4>

Python has a number of built-in functions. Here we will introduce a few of the useful built-in functions for numerical variables. 

The `type()` function is used to check the data type of a variable. For numerical arguments, either `float` or `int` is returned.

<div class="run">
    ‚ñ∂Ô∏è Run the cell below.
</div>

In [29]:
type(y)

int

In [30]:
z = 42

print(z)
type(z)

print(float(y))

g = 12.0
type(g)
print(int(g))

42
42.0
12

In [31]:
print(f"y as int: {y}")
print(float(y))

print(f"y as float: {float(y)}")

y as int: 42
42.0
y as float: 42.0

Notice that when converting a float value to an integer, the `int()` command always rounds *down* to the nearest whole number.

To round a float to the nearest whole number, use the function `round()`. You can specify the number of decimal places by adding an integer as an argument to the `round()` function .

<div class="run">
    ‚ñ∂Ô∏è Run the cell below.
</div>

In [32]:
print( round(c) )
print( 
    round(c, # the number i want to round
            3) # the number of places after the decimal I want to round to
 )

24
23.782

In [33]:
print( round(c, 1000) )

23.782043

The `complex()` function is used to define a complex number. We won't be using complex numbers in this course, but it's important to know that python is happy to handle them.

<div class="run">
    ‚ñ∂Ô∏è Run the cell below.
</div>

In [34]:
d = complex('5+2j') # we wont really use these in this class

In [35]:
print(d)

(5+2j)

To return the absolute value of a number, use the `abs()` function.

<div class="run">
    ‚ñ∂Ô∏è Run the cell below.
</div>

In [36]:
print( abs(d) )
print( abs(-12) )

5.385164807134504
12


The `divmod()` function returns the quotient and remainder of two input operands in a tuple. (Tuples are another data type that we will cover later.)

```python
divmod(64, 4.2)
```

Output:
```
(15.0, 0.9999999999999973)
```

In [37]:
divmod(64, 4)

(16, 0)


---

The `pow()` function is an alternative to the `**` operator for raising a number to an exponent, i.e. $x^y$. An optional third argument is used to return the modulus (`%`) of the power of a number, i.e. $x^y$ % $z$.

```python
pow(8,2)
```

Output:
```
64
```

```python
pow(8,2,3)
```

Output:
```
1
```

In [38]:
pow(2, 4)

16

In [39]:
pow(4, 2)

16

In [40]:
pow(6, 10, 13)

4

<hr style="border-top: 0.2px solid gray; margin-top: 12px; margin-bottom: 1px"></hr>

### Strings
Pieces of text in Python are referred to as strings. Strings are defined with either single or double quotes. The only difference between the two is that it is easier to use an apostrophe with double quotes.
```python
mytext = 'This is a string.'
mytext2 = "This is also a string."
```
To use an apostrope or single quotes inside a string defined by single quotes (or to use double quotes), use a single backslash ( \\ ) referred to as an "escape" character.
```python
q1a = "What is Newton's 1st law of motion?"
q1b = 'What is Newton\'s 1st law of motion?'
```

<h4 style="border:1px; border-style:solid; border-color:black; padding: 0.5em;"> <span style="color:white"> Built-in functions </span> </h4>

Just like the `int()` and `float` commands, the `str()` command converts a number to a string.

<div class="run">
    ‚ñ∂Ô∏è Run the cell below.
</div>

In [41]:
print(y)

42

In [42]:
ystr = str(y)
print(ystr)
print(type(ystr))

42
<class 'str'>

In [43]:
string_1 = "The first half..."
string_2 = "... the second half."

string_all = string_1 + string_2

print(string_all)

The first half...... the second half.

In [44]:
s = 'isaac' + ' ' + 'newton'

The commands `string.upper()` and `string.capitalize()` can be used to convert all letters in the string to uppercase and capitalize the first letter in the string, respectively.

<div class="run">
    ‚ñ∂Ô∏è Run the cell below.
</div>

In [47]:
print( s.upper() )
print( s.capitalize() )

ISAAC NEWTON
Isaac newton

<h4 style="border:1px; border-style:solid; border-color:purple; padding: 0.5em;"> <span style="color:white"> Formatted print statements </span> </h4>

Python uses C-style formatting to create new, formatted strings with the `%` operator. This is useful for printing variables in functions and when asking for user input, both of which we will discuss later. Formatted print statements contain a string argument with one of the following specifiers:

| Symbol | Task                     |
| :----: | :----------------------  |
|  `%s`  | Strings                  |
|  `%d`  | Integers                 |
|  `%f`  | Floating point numbers   |

The second argument can contain a variable name or a tuple, which is a list of a fixed size. The arguments are separated by the `%` operator.

<div class="run">
    ‚ñ∂Ô∏è Run the cell below.
</div>

In [46]:
city = 'Santa Barbara'
yrs = 3
print( 'I live in %s.' % city )
print( 'I have lived in %s for %d years.' % (city,yrs))

I live in Santa Barbara.
I have lived in Santa Barbara for 3 years.

In [51]:
# Define the variable info.
first = "anna"
age = 23
info = (first, age)
# Complete the sentence to be printed
sentence = "My name is %s and I am %d years old"
# Print
print( sentence % info)

My name is anna and I am 23 years old

When printing floats, the `%f` argument specifier can be accompanied by a number of decimal places to print only a certain number of digits.

<div class="run">
    ‚ñ∂Ô∏è Run the cell below.
</div>

In [52]:
import math
pi_sqrt = math.sqrt(math.pi)
print("The square root of pi is %f." % pi_sqrt)
print("The square root of pi is %.2f." % pi_sqrt)

The square root of pi is 1.772454.
The square root of pi is 1.77.

<hr style="border-top: 0.5px solid black; margin-top: 1px; margin-bottom: 1px"></hr>

The `input()` function allows for user input within a script or program. Importantly, when Python prompts the user for input, the input is stored as a string, regardless of what it is. Thus, if you write a function (a type of object we will explore in a future session) prompting the user for a number, you must be sure to convert the variable storing the input to an integer or float. 

To demonstrate this, run the following cell, entering the month in which you were born in numerical format (e.g. if you were born in April, your input would be `4`) when prompted.

<div class="run">
    ‚ñ∂Ô∏è Run the cell below.
</div>

In [53]:
month_in = input('Month of birth (1-12): ')
type(month_in)

str

In [1]:
# Define list variables
num_list = [4, 23, 654, 2, 0, -12, 4391]
str_list = ['energy', 'water', 'carbon']

In [4]:
print(f"num_list has {len(num_list)} items")

print(f"The smallest value of num_list is {min(num_list)}")

print(f"The largest is {max(num_list)}")

num_list has 7 items
The smallest value of num_list is -12
The largest is 4391

think about how we can generalize our code
- easy to re-use
- can use for something else without needing to change everything

In [7]:
my_list = num_list # can change our list here

print(f"num_list has {len(my_list)} items") # but the name isn't updated here

print(f"The smallest value of num_list is {min(my_list)}")

print(f"The largest is {max(my_list)}")

num_list has 7 items
The smallest value of num_list is -12
The largest is 4391

## Indexing

using square brackets
zero-indexed

The last element of a list with $n$ elements is $ - 1$

$0$ is the beginning of the list, $-1$ is the end

In [11]:
print(str_list)
print(str_list[1])

print(str_list[-1])
print(str_list[-2])

['energy', 'water', 'carbon']
water
carbon
water

accessing a range of values is called **slicing**
- use : (like R!)

doesn't include the last number / end of the index

In [15]:
print(num_list)

print(f" num_list[2:4] prints the 2nd and 3rd elements of the list: {num_list[2:4]}")

print(num_list[2:6])

[4, 23, 654, 2, 0, -12, 4391]
 num_list[2:4] prints the 2nd and 3rd elements of the list: [654, 2]
[654, 2, 0, -12]

In [13]:
print(num_list[2:6])
# >>> [654, 2, 0, -12]

print(num_list[0:4])
# >>> [4, 23, 654, 2]

print(num_list[:4] )   
# >>> [4, 23, 654, 2]

print(num_list[-6:-1] )
# >>> [23, 654, 2, 0,-12]

[654, 2, 0, -12]
[4, 23, 654, 2]
[4, 23, 654, 2]
[23, 654, 2, 0, -12]

if you don't put an initial value for your range, it's as if you put a zero 0

In [16]:
num_list[:2]

[4, 23]

if you don't specify a last value, it returns everything from the first specified to the last of the list

In [17]:
num_list[2:]

[654, 2, 0, -12, 4391]

if you put -1 at the end, it'll give you everything from the first specified to the second-to-last element

In [19]:
print(num_list)
num_list[2:-1]

[4, 23, 654, 2, 0, -12, 4391]

[654, 2, 0, -12]

if you don't specify either element, it'll give you the whole list

In [20]:
num_list[:]

[4, 23, 654, 2, 0, -12, 4391]

you can also specify a step size:

[start:stop:step]

In [21]:
num_list[::2]

[4, 654, 0, 4391]

In [22]:
num_list[1::2]

[23, 2, -12]

<hr style="border-top: 0.2px solid gray; margin-top: 12px; margin-bottom: 1px"></hr>

### List Operations
Elements can be added to a list using the command `list.append()`.

<div class="run">
    ‚ñ∂Ô∏è <b> Run the cell below. </b>
</div>

In [23]:
colors = ['red', 'blue', 'green', 'black', 'white']
print(colors)
colors.append('pink')
print(colors)
colors.insert(4, 'purple')
print(colors)

['red', 'blue', 'green', 'black', 'white']
['red', 'blue', 'green', 'black', 'white', 'pink']
['red', 'blue', 'green', 'black', 'purple', 'white', 'pink']



You can **add** an element to a list in a specific position using the command `list.insert()`.
```python
colors.insert(4, 'purple')
print(colors)
>>> ['red', 'blue', 'green', 'black', 'purple', 'white', 'pink']
```

<div class="example">
    ‚úèÔ∏è <b> Try it. </b> 
    Add <code>'purple'</code> to the list <code>colors</code> between <code>'green'</code> and <code>'black'</code>.
</div>

In [ ]:
colors = ['red', 'blue', 'green', 'black', 'white']
print(colors)
colors.append('pink')
print(colors)
colors.insert(4, 'purple')
print(colors)

['red', 'blue', 'green', 'black', 'white']
['red', 'blue', 'green', 'black', 'white', 'pink']
['red', 'blue', 'green', 'black', 'purple', 'white', 'pink']

There are multiple ways to **remove** elements from a list. The commands `list.pop()` and `del` remove elements based on indices.
```python
colors.pop()       # removes the last element
colors.pop(2)      # removes the third element
del colors[2]      # removes the third element
del colors[2:4]    # removes the third and fourth elements
```

The command `list.remove()` removes an element based on its value.
```python
colors.remove('red')
print(colors)
>>> ['blue', 'green', 'black', 'purple', 'white', 'pink']
```

<div class="example">
    ‚úèÔ∏è <b> Try it. </b> 
    Remove <code>'pink'</code> and <code>'purple'</code> from <code>colors</code>, using <code>del</code> for one of the strings and <code>list.remove()</code> for the other.
</div>

In [ ]:
colors = ['red', 'blue', 'green', 'black', 'white']
print(colors)
colors.append('pink')
print(colors)
colors.insert(4, 'purple')
print(colors)
colors.pop() # removed last element, pink
print(colors)
colors.pop(4) # removed purple
print(colors)
colors.remove('blue')
print(colors)

['red', 'blue', 'green', 'black', 'white']
['red', 'blue', 'green', 'black', 'white', 'pink']
['red', 'blue', 'green', 'black', 'purple', 'white', 'pink']
['red', 'blue', 'green', 'black', 'purple', 'white']
['red', 'blue', 'green', 'black', 'white']
['red', 'green', 'black', 'white']

You can **sort** the elements in a list (numerically or alphabetically) in two ways. The first uses the command `list.sort()`.


<div class="run">
    ‚ñ∂Ô∏è <b> Run the cell below. </b>
</div>

In [ ]:
rand_list = [5.1 , 3.42 , 3.333 , 100.4 , 0.5 , 26.0 , 7.44 , 5.8 , 39.0]
print(rand_list)

sorted_list = rand_list.sort()
print(sorted_list)

real_sorted_list = sorted(rand_list)
print(real_sorted_list)

[5.1, 3.42, 3.333, 100.4, 0.5, 26.0, 7.44, 5.8, 39.0]
None
[0.5, 3.333, 3.42, 5.1, 5.8, 7.44, 26.0, 39.0, 100.4]

Setting `reverse=True` within this command sorts the list in reverse order:
```python
rand_list = [5.1 , 3.42 , 3.333 , 100.4 , 0.5 , 26.0 , 7.44 , 5.8 , 39.0]
rand_list.sort(reverse=True)
print(rand_list)
>>> [100.4, 39.0, 26.0, 7.44, 5.8, 5.1, 3.42, 3.333, 0.5]
```

In [ ]:
rand_list.sort(reverse=True)
print(rand_list)

[100.4, 39.0, 26.0, 7.44, 5.8, 5.1, 3.42, 3.333, 0.5]

So far, all of the list commands we've used have been **in-place operators**. This means that they perform the operation to the variable in place without requiring a new variable to be assigned. By contrast, **standard operators** do not change the original list variable. A new variable must be set in order to retain the operation. 

<div class="example">
    ‚úèÔ∏è <b> Try it. </b> 
    Verify that <code>rand_list</code> was, in fact, sorted in place by using the <code>min()</code> and <code>max()</code> functions to determine the minmum and maximum values in the list and printing the first and last values in the list.
</div>

In [ ]:
# Print the min and max values in rand_list.
min_val = min(rand_list)
max_val = max(rand_list)
print(f"min: {min_val} \nmax: {max_val}")

# Print the first and last values in rand_list.
first_val = rand_list[0]
last_val = rand_list[-1]
print(f"first: {first_val} \nlast: {last_val}")


# check if true

print(min_val != first_val)
print(max_val == first_val)

min: 0.5
max: 100.4
first: 100.4
last: 0.5
True
True

The other method of sorting a list is to use the `sorted()` command, which does not change the original list. Instead, the sorted list must be assigned to a new variable.
```python
rand_list = [5.1 , 3.42 , 3.333 , 100.4 , 0.5 , 26.0 , 7.44 , 5.8 , 39.0]
sorted_list = sorted(rand_list)
print(rand_list[0])
print(sorted_list[0])
>>> 5.1
    0.5
```
To avoid changing the original variable when using an in-place operator, it is wise to create a copy. There are multiple ways to create copies of lists, but it is important to know the difference between a true **copy** and a **view**. A view of a list can be created as follows:
```python
str_list = ['energy', 'water', 'carbon']
str_list_view = str_list
```

Any in-place operation performed on `str_list_view` will also be applied to `str_list`. To avoid this, create a copy of `str_list` using any of the following methods:
```python
str_list_copy = str_list.copy()
# or
str_list_copy = str_list[:]
# or
str_list_copy = list(str_list)
```

In addition to adding single elements to a list using `list.append()` or `list.insert()`, multiple elements can be added to a list at the same time by adding multiple lists together.

```python
rainbow  = ['red', 'orange', 'yellow', 'green', 'blue', 'indigo', 'violet']
shades = ['coral', 'chartreuse', 'cyan', 'navy']
print( rainbow + shades )
>>> ['red', 'orange', 'yellow', 'green', 'blue', 'indigo', 'violet', 'coral', 'chartreuse', 'cyan', 'navy']
```

Single lists can be repeated by multiplying by an integer. 

<div class="run">
    ‚ñ∂Ô∏è <b> Run the cell below. </b>
</div>

In [ ]:
str_list2 = str_list * 2
num_list4 = num_list * 4
print( str_list2 )
print( num_list4 )

['energy', 'water', 'carbon', 'energy', 'water', 'carbon']
[4, 23, 654, 2, 0, -12, 4391, 4, 23, 654, 2, 0, -12, 4391, 4, 23, 654, 2, 0, -12, 4391, 4, 23, 654, 2, 0, -12, 4391]

### Generating sequential lists
Sequential lists are valuable tools, particularly for iteration, which we will explore in the next session. The `range()` function is used to create an iterable object based on the size of an integer argument.

```python
range(4)
>>> range(0, 4)
```

To construct a sequential list from the `range()` object, use the `list()` function.

```python
list(range(4))
>>> [0, 1, 2, 3]
```

Using multiple integer arguments, the `range()` function can be used to generate sequential lists between two bounds: `range(start, stop [, step])`.

<div class="python">
    üêç <b>Note.</b> 
    Like indexing, all Python functions using <span style="font-style: italic"> start </span> and <span style="font-style: italic"> stop </span> arguments, the <span style="font-style: italic"> stop </span> value is <span style="font-weight: bold"> exclusive </span>.
</div>

```python
range_10 = list(range(1,11))
odds_10 = list(range(1,11,2))
print(range_10)
print(odds_10)
>>> [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
    [1, 3, 5, 7, 9]
```

<div class="practice">
    üìö  <b> Practice 5. </b> 
    Use the <code>range()</code> function to construct a list of all hundreds (e.g. 100, 200, etc.) between 0 and 1000, inclusive.
</div>